# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias resource='source ~/.bash_profile'

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias p="cd ~/Projects"
alias pe="cd ~/Projects-External"
alias pp="cd ~/Projects-Personal"
alias g="git"
alias h="history"
alias j="jobs"
alias v="vim"
alias m="mate ."
alias s="subl ."
alias o="open"
alias oo="open ."
alias subl="'/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl'"
alias mvim="/Applications/MacVim.app/Contents/MacOS/Vim -g"
alias copyssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias shrug="echo '¯\_(ツ)_/¯' | pbcopy"
alias fight="echo '(ง'̀-'́)ง' | pbcopy"
alias editalias="vim ~/dotfiles/.aliases; source ~/dotfiles/.aliases"

# PHP/Laravel Shortcuts
alias tinker="php artisan tinker"
alias art="php artisan"
alias migrate="php artisan migrate"
alias fresh="php artisan migrate:fresh --seed"

# GIT shortcuts
alias ga='git add '
alias gaa='git add -A'
alias gamd='git commit --amend --no-edit'
alias gb='git branch '
alias gbc='git checkout -b'
alias gbr='git branch'
alias gbrc='git rev-parse --abbrev-ref HEAD'
alias gc='git commit'
alias gcl='git clone'
alias gcm='git commit -m'
alias gd='git diff'
alias gds='git diff --staged'
alias gg='git pull'
alias gk='gitk --all&'
alias gl='git log'
alias glp='git log -p'
alias gls='git log --oneline'
alias glv='git log --oneline --graph'
alias go='git checkout '
alias gp='git push'
alias grh='git reset HEAD'
alias gs='git status '
alias gsa='git stash apply'
alias gsd='git stash drop'
alias gsh='git show'
alias gsl='git stash list'
alias gsp='git stash pop'
alias gss='git stash save'
alias gssh='git stash show -p'
alias gst='git stach'
alias gt='git tag -l'
alias gtd='git tag -d'
alias gx='gitx --all'
alias nah='git reset --hard; git clean -df;'
alias wip="git add . && git commit -m 'wip'"

function rmbranch() {
  [ -z "$1" ] && echo 'Brnach name required!' && return
  git push origin --delete $1
  git branch delete -D $1
}

function gta() {
  [ -z "$1" ] && echo 'Invalid tag name!' && return
  [ -z "$2" ] && msg="$1" || msg="$2"
  git tag -a $1 -m $msg
}

function gtrd() {
  [ -z "$1" ] && echo 'Invalid tag name!' && return
  git push origin :refs/tags/$1
}

alias got='git '
alias get='git '

alias phpcs='phpcs --standard=PSR2 --report=full --extensions=php '

# Scans bash history and lists frequently used 1-2 word commands
function topcmds() {
  [ ! -z $1 ] && n="$1" || n="10"
  history | awk '{a[$2 " " $3]++}END{for(i in a){print a[i] " " i}}' | sort -rn | head -n $n
}

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# List only directories
alias lsd='ls -l ${colorflag} | grep "^d"'

# Show mount command output pretty and human readable
alias lsmount='mount |column -t'

# Limit ping to five packets
alias ping='ping -c 5'

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Enable aliases to be sudo'ed
alias sudo='sudo '

# Always sudo apt-get
alias apt-get='sudo apt-get'
alias reboot='sudo reboot'

# Webserver controll
alias nginxreload='sudo /usr/local/nginx/sbin/nginx -s reload'
alias nginxtest='sudo /usr/local/nginx/sbin/nginx -t'

# Gzip-enabled `curl`
alias gurl="curl --compressed"

# update the system with the latest software
case `uname` in
	Linux)
		alias update='sudo apt-get update;sudo apt-get -y dist-upgrade;sudo apt-get -y autoremove';;
	Darwin)
		alias update='sudo softwareupdate -i -a; brew update; brew upgrade; npm update npm -g; npm update -g; sudo gem update --system; sudo gem update';;
esac

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Airplay has a bug connecting to remote speakers.  Restarting Core Audio is the fix
alias fixairplay="sudo kill `ps -ax | grep 'coreaudiod' | grep 'sbin' |awk '{print $1}'`"

# find top 5 big files
alias findbig="find . -type f -exec ls -s {} \; | sort -n -r | head -5"

# find folder changes fast
alias recursivetime='find . -type f -print0 | xargs -0 ls --color=auto -lhtr'

# lists size of folders in ./
alias foldersize="du -d 1|sort -n|cut -f2|tr '\n' '\0'|xargs -0 du -sh 2>/dev/null"

# human df
alias df='df -h'

# lists used tcp ports
alias listusedports='netstat -tlnp'

# finds your location by geoip or another in $1
geoip() { wget -qO - http://freegeoip.net/xml/$1 | sed '3,12!d;s/<//g;s/>/: /g;s/\/.*//g' ; }

# Extract about anything
extract () {
    if [ -f $1 ] ; then
        case $1 in
            *.tar.bz2)   tar xvjf $1   ;;
            *.tar.gz)    tar xvzf $1   ;;
            *.bz2)       bunzip2 $1    ;;
            *.rar)       unrar x $1    ;;
            *.gz)        gunzip $1     ;;
            *.tar)       tar xvf $1    ;;
            *.tbz2)      tar xvjf $1   ;;
            *.tgz)       tar xvzf $1   ;;
            *.zip)       unzip $1      ;;
            *.Z)         uncompress $1 ;;
            *.7z)        7z x $1       ;;
            *)           echo "'$1' cannot be extracted via >extract<" ;;
        esac
    else
        echo "'$1' is not a valid file"
    fi
}

# making unrar more convinient
alias unrar='unrar e'
alias unrarall='unrar e *.rar'

# great extract and compress commands. mk* outputs to ..
alias mktar='time { tar -cvf ../"${PWD##*/}.tar" *;echo "----------";echo " " ; echo "Execution time: "; }'
alias mkxz='time { tar --xz -cvf ../"${PWD##*/}.tar.xz" *;echo "----------";echo " " ; echo "Execution time: "; }'
alias mkbz2='time { tar -cvjf ../"${PWD##*/}.tar.bz2" *;echo "----------";echo " " ; echo "Execution time: "; }'
alias mkgz='time { tar -cvzf ../"${PWD##*/}.tar.gz" *;echo "----------";echo " " ; echo "Execution time: "; }'
alias mkrar='time { rar ar -m5 ../"${PWD##*/}.rar" *;echo "----------";echo " " ; echo "Execution time: "; }'
alias untar='tar -xvf'
alias unbz2='tar -xvjf'
alias ungz='tar -xvzf'

# Alias for dtach to save session
alias wm="dtach -A /tmp/dvtm -r winch dvtm"

alias weather='curl -s wttr.in | sed -n "1,7p"'
alias weathertoday="curl -s wttr.in | sed -n '1,17p'" #weather today
alias weathertomorrow="curl -s wttr.in | sed -n '18,27p'" #weather tomorrow
